.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content-baseline {
  align-content: baseline;
}

.pointer-none {
  pointer-events: none;
}

.capitalize {
  text-transform: capitalize;
}

.z-1 {
  z-index: 1;
}
